In [1]:
import numpy as np
print("hello Gor")

hello Gor

## Start

In [2]:
b ='Мужчина , 39 лет , родился 27 ноября 1979' 
a ='Женщина , 21 год , родилась 13 января 2000'

def age(x):
    split_list = x.split(sep=',')
    number = split_list[1].split(sep=' ')
    value = number[0]
    return value

age(a)

''

In [3]:
x = np.NaN

if x is np.NaN:
    print('yes')

yes

In [4]:
x

nan

In [5]:
def wor_number(x):
    if x is np.NaN:
        return x
    split_list = x.split(sep=' ')
    lens = len(split_list)
    for i in range(0,lens):
        if split_list[i] == 'четыре':
            split_list[i] = 4

In [6]:
a = "Советск (Калининградская область) , не готов к переезду , не готов к командировкам"

def sity(x):
    if x is np.NaN:
        return x
    million_cities = ['Новосибирск', 'Екатеринбург','Нижний Новгород','Казань', 'Челябинск','Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж','Волгоград']
    stolica = ["Москва", "Санкт-Петербург"]
    split_sity = x.split(sep=",")
    sity_result = split_sity[0]
    result = sity_result.split(sep=' ')
    value = result[0]
    if value in million_cities:
        return "город-миллионник"
    elif value in stolica:
        return value
    else:
        return "другие"

def relocation(x):
    if x is np.NaN:
        return x
    split_sity = x.split(sep=",")
    if len(split_sity) == 3:
        relocation_result = split_sity[1]
    else:
        relocation_result = split_sity[2]
    result = relocation_result.split(sep=' ')
    value = result[1]
    if value == 'не':
        return False
    else:
        return True


def comandirovka(x):
    if x is np.NaN:
        return x
    split_sity = x.split(sep=",")
    if len(split_sity) == 3:
        relocation_result = split_sity[2]
    else:
        relocation_result = split_sity[3]
    result = relocation_result.split(sep=' ')
    value = result[1]
    if value == 'не':
        return False
    else:
        return True
        
        

print(comandirovka(a))

False

In [7]:
a[-1]

'м'

In [ ]:
config = {"server": {"host": "127.0.0.1","port": "22"},"configuration": {"ssh": {"access": True,"login": "some","password": "some"},"name": "2491Oaaf1414"}}

Вам предоставлен словарь products, ключами которого являются названия продуктов, а значениями — их цены. Затем к вам приходит другой словарь (stocks), ключи которого — товары, а значения — скидки (в процентах) на товары.

Напишите функцию apply_discounts(products, stocks), которая снижает цену продуктов в словаре products на указанный в словаре stocks процент. Функция должна вернуть результирующий словарь, ключи которого — товары, а значения — новые цены. Если продукта из словаря stocks нет в словаре products, то его необходимо пропустить. Цены округлите до второго знака после запятой.

In [4]:
products = {
    'Oranges (packaged)': 114.99, 
    'Candy (Rotfront)': 280.0, 
    'Boiled sausage': 199.99, 
    'Juice J7 (orange)': 119.99, 
    'Trout (Seven Seas)': 399.99
}
stocks = {'Boiled sausage': '33%', 
          'Juice J7 (orange)': '12%', 
          'Trout (Seven Seas)': '18%'
}

def apply_discounts(products, stocks):
    new_dict = products
    for key,values in stocks.items():
        stocks[key] = int(stocks[key].replace("%",''))
        new_dict[key] = round(new_dict[key] - (new_dict[key] / 100 * stocks[key]),2)
    return new_dict





print(apply_discounts(products, stocks))

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [5]:
a = '18%'
a = a.replace("%",'')
a

'18'

In [6]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Oranges (packaged)': '15%', 'Boiled sausage': '10%', 'Candy (Rotfront)': '50%', 'Diapers': '10%'}

def apply_discounts(products, stocks):
    new_dict = products
    for key,values in stocks.items():
        if key not in new_dict.keys():
            continue
        stocks[key] = int(stocks[key].replace("%",''))
        new_dict[key] = round(new_dict[key] - (new_dict[key] / 100 * stocks[key]),2)
    return new_dict





print(apply_discounts(products, stocks))

{'Oranges (packaged)': 97.74, 'Candy (Rotfront)': 140.0, 'Boiled sausage': 179.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}

In [8]:
import pandas as pd
silver_top = pd.DataFrame({
    'country': ['United States', 'Soviet Union', 'United Kingdom', 'France', 'Italy'],
    'Total': [1195.0,627.0,591.0,461.0,394.0]
})
silver_top.index = [0,1,2,3,4]

bronze_top = pd.DataFrame({
    'country': ['United States', 'Soviet Union', 'United Kingdom', 'France', 'Germany'],
    'Total': [1052.0,584.0,505.0,475.0,454.0]
})
bronze_top.index = [0,1,2,3,4]

In [11]:
display(silver_top),
display(bronze_top)

          country   Total
0   United States  1195.0
1    Soviet Union   627.0
2  United Kingdom   591.0
3          France   461.0
4           Italy   394.0

          country   Total
0   United States  1052.0
1    Soviet Union   584.0
2  United Kingdom   505.0
3          France   475.0
4         Germany   454.0

In [14]:
merged = bronze_top.join(
    silver_top.set_index('country'),
    how='inner',
    on='country',
    lsuffix='_bronze',
    rsuffix='_silver'
)
merged

          country  Total_bronze  Total_silver
0   United States        1052.0        1195.0
1    Soviet Union         584.0         627.0
2  United Kingdom         505.0         591.0
3          France         475.0         461.0