In [ ]:
#/*Напишите запрос, выводящий для каждого жанра средний рейтинг и количество фильмов этого жанра.
#
#Столбцы к выводу:
#
#genre_name (название жанра),
#average_rating (средний рейтинг),
#movie_count (количество фильмов).
#Результат отсортируйте по убыванию среднего рейтинга.*/
"""
SELECT
    g.name genre_name ,
    avg(m.rating) average_rating ,
    count(m.id) movie_count 
FROM sqlprotest.movie_genres mg
    left join sqlprotest.movies m on m.id = mg.movie_id
    full join sqlprotest.genres g on g.id = mg.genre_id
group by g.name
ORDER BY 2 desc
"""

In [ ]:
#*Напишите запрос, чтобы вывести все названия фильмов и их рейтинги. Если у фильма нет рейтинга, то проставьте 0 в качестве значения рейтинга.
#
#Результат отсортируйте по названию фильма в алфавитном порядке.
#
#Примечание: Буква "ё" в SQL не является алфавитной и не сортируется, не обращайте внимание на это во время решения задания.*/
"""
SELECT 
    name ,
    rating
FROM sqlprotest.movies
where rating is not null
union all
SELECT 
    name ,
    0 as rating
FROM sqlprotest.movies
where rating is null
order by 1
"""

In [ ]:
#/*Напишите запрос, который выведет количество фильмов в каждом жанре для случаев, когда в жанре представлено три или больше фильмов.

#Столбцы к выводу:

#genre_name (имя жанра)
#movies_count (количество фильмов).
#Результат отсортируйте по убыванию количества фильмов.*/
"""
SELECT
    g.name genre_name ,
    count(m.id) movie_count 
FROM sqlprotest.movie_genres mg
    left join sqlprotest.movies m on m.id = mg.movie_id
    full join sqlprotest.genres g on g.id = mg.genre_id
group by g.name
having count(m.id) >= 3
order by 2 desc
"""