In [1]:
users = [{'name': 'Todd', 'phone': '551-1414', 'email': 'todd@gmail.com'},
         {'name': 'Helga', 'phone': '555-1618', 'email': 'helga@mail.net'},
         {'name': 'Olivia', 'phone': '449-3141', 'email': ''},
         {'name': 'LJ', 'phone': '555-2718', 'email': 'lj@gmail.net'},
         {'name': 'Ruslan', 'phone': '422-145-9098', 'email': 'rus-lan.cha@yandex.ru'},
         {'name': 'John', 'phone': '233-421-32', 'email': ''},
         {'name': 'Lara', 'phone': '+7998-676-2532', 'email': 'g.lara89@gmail.com'},
         {'name': 'Alina', 'phone': '+7948-799-2434', 'email': 'ali.ch.b@gmail.com'},
         {'name': 'Robert', 'phone': '420-2011', 'email': ''},
         {'name': 'Riyad', 'phone': '128-8890-128', 'email': 'r.mahrez@mail.net'},
         {'name': 'Khabib', 'phone': '+7995-600-9080', 'email': 'kh.nurmag@gmail.com'},
         {'name': 'Olga', 'phone': '6449-314-1213', 'email': ''},
         {'name': 'Roman', 'phone': '+7459-145-8059', 'email': 'roma988@mail.ru'},
         {'name': 'Maria', 'phone': '12-129-3148', 'email': 'm.sharapova@gmail.com'},
         {'name': 'Fedor', 'phone': '+7445-341-0545', 'email': ''},
         {'name': 'Tim', 'phone': '242-449-3141', 'email': 'timm.ggg@yandex.ru'}]
my_list = [d["name"] for d in users if d["phone"][-1] == "8"]
print(*my_list)

Helga LJ Ruslan Riyad Maria

In [2]:
my_dict = {0 :"zero", 1: "one", 2: "two", 3: "three", 4: "four", 5: "five", 6: "six", 7: "seven", 8: "eight", 9: "nine"}
l = [my_dict[int(i)] for i in input()]
print(*l)

one

In [3]:
d = {
    ".,?!:" : "1",
    "ABC"   : "2",
    "DEF"   : "3",
    "GHI"   : "4",
    "JKL"   : "5",
    "MNO"   : "6",
    "PQRS"  : "7",
    "TUV"   : "8",
    "WXYZ"  : "9",
    " "     : "0"
}
n = input().upper().replace('"', "")
for el in n:
    for ke in list(d.keys()):
        if el in ke:
            k = ke
            print(d[k] * (k.find(el) + 1),end="")
            break

In [4]:
4433555555666110966677755531111

4433555555666110966677755531111

In [5]:
18 * 1.5 * 18

486.0

In [4]:
result = {}
for i in range(1,16):
    result.update({i : i ** 2})
result

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [8]:
dict1 = {'a': 100, 'z': 333, 'b': 200, 'c': 300, 'd': 45, 'e': 98, 't': 76, 'q': 34, 'f': 90, 'm': 230}
dict2 = {'a': 300, 'b': 200, 'd': 400, 't': 777, 'c': 12, 'p': 123, 'w': 111, 'z': 666}

result = dict1.copy()
for el in dict2.keys():
    result[el] = result.get(el, 0 ) + dict2[el]
result

{'a': 400,
 'z': 999,
 'b': 400,
 'c': 312,
 'd': 445,
 'e': 98,
 't': 853,
 'q': 34,
 'f': 90,
 'm': 230,
 'p': 123,
 'w': 111}

In [23]:
s = 'orange strawberry barley gooseberry apple apricot barley currant orange melon pomegranate banana banana orange barley apricot plum grapefruit banana quince strawberry barley grapefruit banana grapes melon strawberry apricot currant currant gooseberry raspberry apricot currant orange lime quince grapefruit barley banana melon pomegranate barley banana orange barley apricot plum banana quince lime grapefruit strawberry gooseberry apple barley apricot currant orange melon pomegranate banana banana orange apricot barley plum banana grapefruit banana quince currant orange melon pomegranate barley plum banana quince barley lime grapefruit pomegranate barley'
r = {}
m = ["",0]
for el in sorted(s.split(),reverse=True):
    r[el] = r.get(el,0) + 1
    if r[el] >= m[1]:
        m[0],m[1] = el,r[el]
print(m)

['banana', 12]

In [13]:
pets = [('Hatiko', 'Parker', 'Wilson', 50),
        ('Rusty', 'Josh', 'King', 25),
        ('Fido', 'John', 'Smith', 28),
        ('Butch', 'Jake', 'Smirnoff', 18),
        ('Odi', 'Emma', 'Wright', 18),
        ('Balto', 'Josh', 'King', 25),
        ('Barry', 'Josh', 'King', 25),
        ('Snape', 'Hannah', 'Taylor', 40),
        ('Horry', 'Martha', 'Robinson', 73),
        ('Giro', 'Alex', 'Martinez', 65),
        ('Zooma', 'Simon', 'Nevel', 32),
        ('Lassie', 'Josh', 'King', 25),
        ('Chase', 'Martha', 'Robinson', 73),
        ('Ace', 'Martha', 'Williams', 38),
        ('Rocky', 'Simon', 'Nevel', 32)]

result = {}
for i in pets:
    if i[1:] in result.keys():
        result[i[1:]].append(i[0])
    else:
        result[i[1:]] = [i[0]]
result

{('Parker', 'Wilson', 50): ['Hatiko'],
 ('Josh', 'King', 25): ['Rusty', 'Balto', 'Barry', 'Lassie'],
 ('John', 'Smith', 28): ['Fido'],
 ('Jake', 'Smirnoff', 18): ['Butch'],
 ('Emma', 'Wright', 18): ['Odi'],
 ('Hannah', 'Taylor', 40): ['Snape'],
 ('Martha', 'Robinson', 73): ['Horry', 'Chase'],
 ('Alex', 'Martinez', 65): ['Giro'],
 ('Simon', 'Nevel', 32): ['Zooma', 'Rocky'],
 ('Martha', 'Williams', 38): ['Ace']}

In [6]:
pets[0][1:]

('Parker', 'Wilson', 50)

In [9]:
a = {}
for el in input():
    a[el] = a.setdefault(el,0)+1
a

{'l': 2, 'i': 1, 'v': 1, 'e': 1, 'r': 1}

In [10]:
a={}
[a[el] if el in a.keys() else a.setdefault(el,0) for el in input()]
a

{'l': 0, 'i': 0, 'v': 0, 'e': 0}

In [13]:
a = [[1,2],[3,4],[5,6]]
b = [el[::-1] for el in a]
c = a+b
c

[[1, 2], [3, 4], [5, 6], [2, 1], [4, 3], [6, 5]]

In [3]:
favorite_numbers = {'timur': 17, 'ruslan': 7, 'larisa': 19, 'roman': 123, 'rebecca': 293, 'ronald': 76, 'dorothy': 62, 'harold': 36, 'matt': 314, 'kim': 451, 'rosaly': 18, 'rustam': 89, 'soltan': 111, 'amir': 654, 'dima': 390, 'amiran': 777, 'geor': 999, 'sveta': 75, 'rita': 909, 'kirill': 404, 'olga': 271, 'anna': 55, 'madlen': 876}

result = {k: favorite_numbers[k] for k in favorite_numbers.keys() if len(str(favorite_numbers[k])) == 2 }
result

{'timur': 17,
 'larisa': 19,
 'ronald': 76,
 'dorothy': 62,
 'harold': 36,
 'rosaly': 18,
 'rustam': 89,
 'sveta': 75,
 'anna': 55}

In [11]:
student_ids = ['S001', 'S002', 'S003', 'S004', 'S005', 'S006', 'S007', 'S008', 'S009', 'S010', 'S011', 'S012', 'S013'] 
student_names = ['Camila Rodriguez', 'Juan Cruz', 'Dan Richards', 'Sam Boyle', 'Batista Cesare', 'Francesco Totti', 'Khalid Hussain', 'Ethan Hawke', 'David Bowman', 'James Milner', 'Michael Owen', 'Gary Oldman', 'Tom Hardy'] 
student_grades = [86, 98, 89, 92, 45, 67, 89, 90, 100, 98, 10, 96, 93]

result =  [{student_ids[i] : {student_names[0] : student_grades[0]}}  for i in range(len(student_ids))]
result

[{'S001': {'Camila Rodriguez': 86}},
 {'S002': {'Camila Rodriguez': 86}},
 {'S003': {'Camila Rodriguez': 86}},
 {'S004': {'Camila Rodriguez': 86}},
 {'S005': {'Camila Rodriguez': 86}},
 {'S006': {'Camila Rodriguez': 86}},
 {'S007': {'Camila Rodriguez': 86}},
 {'S008': {'Camila Rodriguez': 86}},
 {'S009': {'Camila Rodriguez': 86}},
 {'S010': {'Camila Rodriguez': 86}},
 {'S011': {'Camila Rodriguez': 86}},
 {'S012': {'Camila Rodriguez': 86}},
 {'S013': {'Camila Rodriguez': 86}}]

In [ ]:
data = ['a','b',{'foo': 1,'bar':{'x' : 10,'y' : 20,'z' : 30},'baz': 3},'c','d']

In [2]:
my_dict = {'C1': [10, 20, 30, 7, 6, 23, 90], 'C2': [20, 30, 40, 1, 2, 3, 90, 12], 'C3': [12, 34, 20, 21], 'C4': [22, 54, 209, 21, 7], 'C5': [2, 4, 29, 21, 19], 'C6': [4, 6, 7, 10, 55], 'C7': [4, 8, 12, 23, 42], 'C8': [3, 14, 15, 26, 48], 'C9': [2, 7, 18, 28, 18, 28]}
for k,el in my_dict.items():
    my_dict[k] = [i for i in el if i <= 20]
my_dict

{'C1': [10, 20, 7, 6],
 'C2': [20, 1, 2, 3, 12],
 'C3': [12, 20],
 'C4': [7],
 'C5': [2, 4, 19],
 'C6': [4, 6, 7, 10],
 'C7': [4, 8, 12],
 'C8': [3, 14, 15],
 'C9': [2, 7, 18, 18]}

In [13]:
emails = {'nosu.edu': ['timyr', 'joseph', 'svetlana.gaeva', 'larisa.mamuk'], 
          'gmail.com': ['ruslan.chaika', 'rustam.mini', 'stepik-best'], 
          'msu.edu': ['apple.fruit', 'beegeek', 'beegeek.school'], 
          'yandex.ru': ['surface', 'google'],
          'hse.edu': ['tomas-henders', 'cream.soda', 'zivert'],
          'mail.ru': ['angel.down', 'joanne', 'the.fame.moster']}
b = []
[b.extend([i+"@"+k for i in el]) for k,el in emails.items()]
print(sorted(b))

['angel.down@mail.ru', 'apple.fruit@msu.edu', 'beegeek.school@msu.edu', 'beegeek@msu.edu', 'cream.soda@hse.edu', 'google@yandex.ru', 'joanne@mail.ru', 'joseph@nosu.edu', 'larisa.mamuk@nosu.edu', 'ruslan.chaika@gmail.com', 'rustam.mini@gmail.com', 'stepik-best@gmail.com', 'surface@yandex.ru', 'svetlana.gaeva@nosu.edu', 'the.fame.moster@mail.ru', 'timyr@nosu.edu', 'tomas-henders@hse.edu', 'zivert@hse.edu']

In [26]:
def build_query_string(params):
    a = "&".join(sorted([str(k)+"="+str(el) for k,el in params.items()]))
    print(a)
    return(a)
    
a = build_query_string({'name': 'timur', 'age': 28})
print(build_query_string({'sport': 'hockey', 'game': 2, 'time': 17}))

age=28&name=timur
game=2&sport=hockey&time=17
game=2&sport=hockey&time=17

In [30]:
def merge(values):      # values - это список словарей
    r = {}
    [[r.setdefault(k,set()).add(i) for k,i in el.items()] for el in values]
    return(r)
result = [{'a': 1, 'b': 2}, {'b': 10, 'c': 100}, {'a': 1, 'b': 17, 'c': 50}, {'a': 5, 'd': 777}]

print(merge(result))

{'a': {1, 5}, 'b': {17, 2, 10}, 'c': {50, 100}, 'd': {777}}

In [31]:
[print(el) for el in result]

{'a': 1, 'b': 2}
{'b': 10, 'c': 100}
{'a': 1, 'b': 17, 'c': 50}
{'a': 5, 'd': 777}

[None, None, None, None]