In [2]:
numbers = [1, 2, 3, 4, 5]

iterator = iter(numbers)

print(next(iterator))
print(next(iterator))

del numbers[0]
del numbers[1]

print(next(iterator))

1
2
5

In [ ]:
class Xrange:
    def __init__(self, start, end, step=1):
        iter(lambda : start + step)

In [2]:
start, end, step= 10, 1, -1
while start > end:
    print(start)
    start += step

10
9
8
7
6
5
4
3
2

In [2]:
from collections import namedtuple

Person = namedtuple('Person', ['name', 'nationality', 'sex', 'birth', 'death'])

persons = [Person('E. M. Ashe', 'American', 'male', 1867, 1941),
           Person('Goran Aslin', 'Swedish', 'male', 1980, 0),
           Person('Erik Gunnar Asplund', 'Swedish', 'male', 1885, 1940),
           Person('Genevieve Asse', 'French', 'female', 1949, 0),
           Person('Irene Adler', 'Swedish', 'female', 2005, 0),
           Person('Sergio Asti', 'Italian', 'male', 1926, 0),
           Person('Olof Backman', 'Swedish', 'male', 1999, 0),
           Person('Alyson Hannigan', 'Swedish', 'female', 1940, 1987),
           Person('Dana Atchley', 'American', 'female', 1941, 2000),
           Person('Monika Andersson', 'Swedish', 'female', 1957, 0),
           Person('Shura_Stone', 'Russian', 'male', 2000, 0),
           Person('Jon Bale', 'Swedish', 'male', 2000, 0)]

print(max((el for el in persons if el.nationality == "Swedish" and el.death == 0 and el.sex == "male"), key=lambda x: x.birth).name)

Jon Bale

In [ ]:
def parse_ranges(ranges):
    yield from (i for start, end in (el.split("-") for el in ranges.split(",")) for i in range(int(start), int(end)+1))

In [ ]:
def filter_names(names: list[str], ignore_char: str, max_names: int):
    c = 0
    for el in (name for name in names if not name.lower().startswith(ignore_char.lower()) and name.isalpha()):
        if c != max_names:
            yield el
            c += 1