In [2]:
numbers = [1, 2, 3, 4, 5]

iterator = iter(numbers)

print(next(iterator))
print(next(iterator))

del numbers[0]
del numbers[1]

print(next(iterator))

1
2
5

In [ ]:
class Xrange:
    def __init__(self, start, end, step=1):
        iter(lambda : start + step)

In [2]:
start, end, step= 10, 1, -1
while start > end:
    print(start)
    start += step

10
9
8
7
6
5
4
3
2

In [2]:
from collections import namedtuple

Person = namedtuple('Person', ['name', 'nationality', 'sex', 'birth', 'death'])

persons = [Person('E. M. Ashe', 'American', 'male', 1867, 1941),
           Person('Goran Aslin', 'Swedish', 'male', 1980, 0),
           Person('Erik Gunnar Asplund', 'Swedish', 'male', 1885, 1940),
           Person('Genevieve Asse', 'French', 'female', 1949, 0),
           Person('Irene Adler', 'Swedish', 'female', 2005, 0),
           Person('Sergio Asti', 'Italian', 'male', 1926, 0),
           Person('Olof Backman', 'Swedish', 'male', 1999, 0),
           Person('Alyson Hannigan', 'Swedish', 'female', 1940, 1987),
           Person('Dana Atchley', 'American', 'female', 1941, 2000),
           Person('Monika Andersson', 'Swedish', 'female', 1957, 0),
           Person('Shura_Stone', 'Russian', 'male', 2000, 0),
           Person('Jon Bale', 'Swedish', 'male', 2000, 0)]

print(max((el for el in persons if el.nationality == "Swedish" and el.death == 0 and el.sex == "male"), key=lambda x: x.birth).name)

Jon Bale

In [ ]:
def parse_ranges(ranges):
    yield from (i for start, end in (el.split("-") for el in ranges.split(",")) for i in range(int(start), int(end)+1))

In [ ]:
def filter_names(names: list[str], ignore_char: str, max_names: int):
    c = 0
    for el in (name for name in names if not name.lower().startswith(ignore_char.lower()) and name.isalpha()):
        if c != max_names:
            yield el
            c += 1

In [2]:
def nonempty_lines(file:str):
    with open(file, "r", encoding="utf-8") as f:
        yield from ("..." if len(el) >= 25 else el for el in (line.rstrip() for line in f))

In [7]:
list_iterator = iter([1, 2, 3])
new_iterator = iter(list_iterator)

print(list_iterator is new_iterator)
print(next(list_iterator))
print(next(new_iterator))

True
1
2

In [1]:
import itertools as it
import time

symbols = ['.', '-', "'", '"', "'", '-', '.', '_']

for c in it.cycle(symbols):
    print(c, end='')
    time.sleep(0.05)

.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-._.-'"'-.

KeyboardInterrupt:

In [2]:
import time

symbols = ['.', '-', "'", '"', "'", '-', '.', '_']

while True:
    symbols = '\r' + symbols.pop() + ''.join(symbols)
    print(symbols, end='')
    symbols = list(symbols)[1:]
    time.sleep(0.1)

"'-._.-'

KeyboardInterrupt:

In [7]:
from itertools import *
def tabulate(func):
    for res in count(1,1):
        print(res)
        yield starmap(func, res)
func = lambda x: x**2
#print(next(tabulate(func)))
starmap(func, 1)

TypeError: 'int' object is not iterable

In [20]:
from itertools import *
import string

def alnum_sequence():
    yield from cycle(i for el in enumerate(string.ascii_uppercase,start=1) for i in el)
    
alnum = alnum_sequence()
print(*(next(alnum) for _ in range(55)))

1 A 2 B 3 C 4 D 5 E 6 F 7 G 8 H 9 I 10 J 11 K 12 L 13 M 14 N 15 O 16 P 17 Q 18 R 19 S 20 T 21 U 22 V 23 W 24 X 25 Y 26 Z 1 A 2

In [28]:
def roundrobin(*args:list[iter]):
    yield from (i for el in zip_longest(*a) for i in el if i is not None)
    

a = [[1,2,3], ["a","b"], ["stert"]]
print(*(i for el in zip_longest(*a) for i in el if i is not None))

1 a stert 2 b 3

In [ ]:
from itertools import *
def take(iterable, n):
    yield from islice(iterable,n)

In [2]:
from itertools import chain

print(*chain([[1,2,3],[4,5,6],[7,8,9]]))

print(*chain.from_iterable([[1,2,3],[4,5,6],[7,8,9,["a","b", "c"]]]))

[1, 2, 3] [4, 5, 6] [7, 8, 9]
1 2 3 4 5 6 7 8 9 ['a', 'b', 'c']

In [27]:
from collections import namedtuple
from itertools import groupby, starmap

Person = namedtuple('Person', ['name', 'age', 'height'])

persons = [Person('Tim', 63, 193), Person('Eva', 47, 158),
           Person('Mark', 71, 172), Person('Alex', 45, 193),
           Person('Jeff', 63, 193), Person('Ryan', 41, 184),
           Person('Ariana', 28, 158), Person('Liam', 69, 193)]
f = lambda x: x.height
obj =  groupby(sorted(persons, key=f ), key= f)
print(*map(lambda el: f"{el[0]}: {", ".join(map(lambda x: x.name, el[1]))}",obj),sep="\n")

158: Eva, Ariana
172: Mark
184: Ryan
193: Tim, Alex, Jeff, Liam

In [24]:
print(*groupby(sorted(persons, key=f ), key= f),sep="\n")

(158, <itertools._grouper object at 0x00000252D5B43850>)
(172, <itertools._grouper object at 0x00000252D5B409D0>)
(184, <itertools._grouper object at 0x00000252D5B43190>)
(193, <itertools._grouper object at 0x00000252D5B40310>)

In [21]:

for n, it in obj:
    print("straoka", n, *it)

straoka 172 Person(name='Mark', age=71, height=172)
straoka 184 Person(name='Ryan', age=41, height=184)
straoka 193 Person(name='Tim', age=63, height=193) Person(name='Alex', age=45, height=193) Person(name='Jeff', age=63, height=193) Person(name='Liam', age=69, height=193)

In [1]:
from collections import namedtuple
from itertools import groupby

Student = namedtuple('Student', ['surname', 'name', 'grade'])

students = [Student('Гагиев', 'Александр', 10), Student('Дедегкаев', 'Илья', 11), Student('Кодзаев', 'Георгий', 10),
            Student('Набокова', 'Алиса', 11), Student('Кораев', 'Артур', 10), Student('Шилин', 'Александр', 11),
            Student('Уртаева', 'Илина', 11), Student('Салбиев', 'Максим', 10), Student('Капустин', 'Илья', 11),
            Student('Гудцев', 'Таймураз', 11), Student('Перчиков', 'Максим', 10), Student('Чен', 'Илья', 11),
            Student('Елькина', 'Мария', 11),Student('Макоев', 'Руслан', 11), Student('Албегов', 'Хетаг', 11),
            Student('Щербак', 'Илья', 10), Student('Идрисов', 'Баграт', 11), Student('Гапбаев', 'Герман', 10),
            Student('Цивинская', 'Анна', 10), Student('Туткевич', 'Юрий', 11), Student('Мусиков', 'Андраник', 11),
            Student('Гадзиев', 'Георгий', 11), Student('Белов', 'Юрий', 11), Student('Акоева', 'Диана', 11),
            Student('Денисов', 'Илья', 11), Student('Букулова', 'Диана', 10), Student('Акоева', 'Лера', 11)]
f = lambda x: x.name
print(max(groupby(sorted(students, key= f), key=f),key= lambda x: sum((1 for _ in x[1])))[0])

Илья

In [4]:
from itertools import groupby

n = input().split()

f = lambda x: len(x)
for k, el in groupby(sorted(n,key= lambda x: (len(x), x)), key=f):
    print(f"{k} -> {", ".join(el)}")

1 -> s, s, s
2 -> oa
3 -> iis, soo
4 -> ehif
5 -> ogjno
9 -> sujsuheii

In [31]:
from itertools import groupby

tasks = [('Отдых', 'поспать днем', 3),
        ('Ответы на вопросы', 'ответить на вопросы в дискорде', 1),
        ('ЕГЭ Математика', 'доделать курс по параметрам', 1),
        ('Ответы на вопросы', 'ответить на вопросы в курсах', 2),
        ('Отдых', 'погулять вечером', 4),
        ('Курс по ооп', 'обсудить темы', 1),
        ('Урок по groupby', 'добавить задачи на программирование', 3),
        ('Урок по groupby', 'написать конспект', 1),
        ('Отдых', 'погулять днем', 2),
        ('Урок по groupby', 'добавить тестовые задачи', 2),
        ('Уборка', 'убраться в ванной', 2),
        ('Уборка', 'убраться в комнате', 1),
        ('Уборка', 'убраться на кухне', 3),
        ('Отдых', 'погулять утром', 1),
        ('Курс по ооп', 'обсудить задачи', 2)]


print(*map(lambda el: f"{el[0]}:\n\t"+"\n\t".join(map(lambda x: f"{x[2]}. {x[1]}", el[1])), groupby(sorted(tasks,key=lambda x: (x[0], x[2])), lambda x: x[0])),sep="\n\n")

ЕГЭ Математика:
	1. доделать курс по параметрам

Курс по ооп:
	1. обсудить темы
	2. обсудить задачи

Ответы на вопросы:
	1. ответить на вопросы в дискорде
	2. ответить на вопросы в курсах

Отдых:
	1. погулять утром
	2. погулять днем
	3. поспать днем
	4. погулять вечером

Уборка:
	1. убраться в комнате
	2. убраться в ванной
	3. убраться на кухне

Урок по groupby:
	1. написать конспект
	2. добавить тестовые задачи
	3. добавить задачи на программирование

In [39]:
from itertools import groupby
def group_anagrams(words):
    return list(map(lambda x: tuple(x[1]),groupby(sorted(words, key=k),key=k)))
k = lambda x: sum(map(ord,x))
print(*map(lambda x: tuple(x[1]),groupby(sorted(['крона', 'сеточка', 'тесачок', 'лучик', 'стоечка', 'норка', 'чулки'], key=k),key=k)))

('крона', 'норка') ('лучик', 'чулки') ('сеточка', 'тесачок', 'стоечка')