In [1]:
from collections import namedtuple

point = namedtuple("pon",["x","y"])

p = point(12,25)

print(p)
print(p.y, p.x)
print(p[1], p[0])
print(type(p))

pon(x=12, y=25)
25 12
25 12
<class '__main__.pon'>

In [2]:
from collections import namedtuple

Weather = namedtuple('Weather', ['temp', 'wind', 'rain', 'cloud'])

tokyo_weather = Weather(11, 6, 0.0, 25)

for x in tokyo_weather:
    print(x)

11
6
0.0
25

In [1]:
'Discord messenger 200'.split()

['Discord', 'messenger', '200']

Советская 3:
1. 30 мешков пескобетон по  25кг
2. 10 мешков цементной штукатурки по 25 кг
3. 20 мешков щебня "примерно заполненых на половину"
3. 6 маяков 10mm
4. 4 доски 150*50*6000
5. саморезы по дереву 200шт
6. дюпель гвозди диметр-6mm длиной-10cm 100шт
7. сетка 20x20x1.2 -1 рулон
8. сетка карта 100х100х4mm 2x1м -6шт и 5м арматуры
9. везальная проволка
10. 10л грунтовки 

1. клей 6 мешков
2. цементная штукатурка 4 мешка 
3. пескобетон 2 мешка 
4. затирка 2 пачки 
5. фибра 1 пачка 
6. грунт хороший

In [23]:
import pickle 
from collections import namedtuple

Animal = namedtuple('Animal', ['name', 'family', 'sex', 'color'])

with open("data.pkl", "rb") as f:
    obj = pickle.load(f)
print(*[f'name: {i[0]}\nfamily: {i[1]}\nsex: {i[2]}\ncolor: {i[3]}' for i in obj],sep="\n\n",end="")

name: Alex
family: dogs
sex: m
color: brown

name: Nancy
family: cats
sex: w
color: white

name: Sam
family: dogs
sex: m
color: brown

name: Misha
family: hedgehogs
sex: m
color: black

name: Fredd
family: cats
sex: m
color: white

name: Python
family: snakes
sex: w
color: white

name: Crispy
family: cats
sex: w
color: white

name: Adam
family: hedgehogs
sex: m
color: black

name: Daddy
family: snakes
sex: m
color: brown

name: Mickey
family: hedgehogs
sex: m
color: brown

name: Tom
family: cats
sex: m
color: white

name: Jerry
family: snakes
sex: m
color: brown

name: Chip
family: hedgehogs
sex: m
color: white

In [8]:
from collections import namedtuple

User = namedtuple('User', ['name', 'surname', 'email', 'plan'])

status = {"Gold": 1, "Silver": 2, "Bronze": 3, "Basic": 4}
users = [User('Mary', 'Griffin', 'sonnen@yahoo.com', 'Basic'),
         User('Brenda', 'Young', 'retoh@outlook.com', 'Silver'),
         User('Kathleen', 'Lyons', 'balchen@att.net', 'Gold'),
         User('Pamela', 'Hicks', 'corrada@sbcglobal.net', 'Silver'),
         User('William', 'Townsend', 'kosact@verizon.net', 'Gold'),
         User('Clayton', 'Morris', 'berserk@yahoo.com', 'Silver'),
         User('Dorothy', 'Dennis', 'sequin@live.com', 'Gold'),
         User('Tyler', 'Walker', 'noahb@comcast.net', 'Basic'),
         User('Joseph', 'Moore', 'ylchang@sbcglobal.net', 'Silver'),
         User('Kenneth', 'Richardson', 'tbusch@me.com', 'Bronze'),
         User('Stephanie', 'Bush', 'neuffer@live.com', 'Gold'),
         User('Gregory', 'Hughes', 'juliano@att.net', 'Basic'),
         User('Tracy', 'Wallace', 'sblack@me.com', 'Silver'),
         User('Russell', 'Smith', 'isaacson@comcast.net', 'Bronze'),
         User('Megan', 'Patterson', 'hoangle@outlook.com', 'Basic')]

print(*[f"{el.name} {el.surname}\n  Email: {el.email}\n  Plan: {el.plan}" for el in sorted(users,key= lambda x: (status[x.plan],x.email))],sep="\n\n",end="")

Kathleen Lyons
  Email: balchen@att.net
  Plan: Gold

William Townsend
  Email: kosact@verizon.net
  Plan: Gold

Stephanie Bush
  Email: neuffer@live.com
  Plan: Gold

Dorothy Dennis
  Email: sequin@live.com
  Plan: Gold

Clayton Morris
  Email: berserk@yahoo.com
  Plan: Silver

Pamela Hicks
  Email: corrada@sbcglobal.net
  Plan: Silver

Brenda Young
  Email: retoh@outlook.com
  Plan: Silver

Tracy Wallace
  Email: sblack@me.com
  Plan: Silver

Joseph Moore
  Email: ylchang@sbcglobal.net
  Plan: Silver

Russell Smith
  Email: isaacson@comcast.net
  Plan: Bronze

Kenneth Richardson
  Email: tbusch@me.com
  Plan: Bronze

Megan Patterson
  Email: hoangle@outlook.com
  Plan: Basic

Gregory Hughes
  Email: juliano@att.net
  Plan: Basic

Tyler Walker
  Email: noahb@comcast.net
  Plan: Basic

Mary Griffin
  Email: sonnen@yahoo.com
  Plan: Basic

In [18]:
from datetime import *
from csv import *
from collections import *

Men_type = namedtuple("men",['surname', 'name', 'date'])

with open("meetings.csv", "r", encoding="utf-8") as f:
    rows = reader(f,delimiter=",")
    next(rows)
    for el in sorted([Men_type(*el) for el in [[s,n,datetime.strptime(d+" "+t,"%d.%m.%Y %H:%M")] for s,n,d,t in rows]],key=lambda x: x.date):
        print(el.surname, el.name)

Гудцев Таймураз
Харисов Артур
Базиев Герман
Макоев Руслан
Найфонов Сослан
Короев Аслан
Дедегкаев Давид
Уртаева Илина
Бекузарова Фатима
Акоева Лера
Белов Глеб
Букулова Диана
Гусейнова Марьям
Набокова Алиса
Чередник Марк
Перчиков Максим
Идрисов Баграт
Абаев Михаил
Елькина Мария
Кораев Давид
Акоева Амина
Денисов Тимофей
Алдатов Сармат
Зеленчук Александра
Тарасов Станислав
Гапбаев Герман
Рыжая Ярослава
Джикаев Таму
Балаболка Вероника
Гагиев Геор
Козаев Роберт
Габараев Артур
Юлдашев Хандамир
Кодзаев Георгий
Дедегкаев Дамир
Момотов Владислав
Щербак Юрий
Чуприков Максим
Тиникашвили Давид
Кораев Артур
Цивинская Анна
Солдатенков Илья
Туткевич Юрий
Маилян Кирилл
Джиоева Марина
Салбиев Максим
Чен Владимир
Капустин Егор
Туаллагов Давид
Губаев Герман
Кузнецов Станислав
Албегов Хетаг
Битиев Сослан
Мусиков Андраник
Уртаева Дзера
Гадзиев Георгий
Епхиева Алика
Шилин Александр

In [14]:
a,b,c,d = [1,2,3,4]

In [19]:
5300*120

636000

In [3]:
from collections import *
defaultdict(int, name='Timur', surname='Guev', hobby='math')
defaultdict(name='Timur', surname='Guev', hobby='math')
defaultdict(int, {'name': 'Timur', 'surname': 'Guev', 'hobby': 'math'})
defaultdict()
defaultdict(list)
defaultdict(int, [('name', 'Timur'), ('surname', 'Guev'), ('hobby', 'math')])
#defaultdict({'name': 'Timur', 'surname': 'Guev', 'hobby': 'math'})
defaultdict(None)
defaultdict.fromkeys(['name', 'surname', 'hobby'], None)

defaultdict(None, {'name': None, 'surname': None, 'hobby': None})

In [6]:
from collections import defaultdict

data = [('Books', 1343), ('Books', 1166), ('Merch', 616), ('Courses', 966), ('Merch', 1145), ('Courses', 1061), ('Books', 848), ('Courses', 964), ('Tutorials', 832), ('Merch', 642), ('Books', 815), ('Tutorials', 1041), ('Books', 1218), ('Tutorials', 880), ('Books', 1003), ('Merch', 951), ('Books', 920), ('Merch', 729), ('Tutorials', 977), ('Books', 656)]

data_d = defaultdict(int)
for el in data:
    data_d[el[0]] += el[1]
print(*map(lambda x: f"{x}: ${data_d[x]}",sorted(data_d)),sep="\n")

Books: $7969
Courses: $2991
Merch: $4083
Tutorials: $3730

In [8]:
from collections import defaultdict

data = [('Sales', 'Robert Barnes'), ('Developing', 'Thomas Porter'), ('Accounting', 'James Wilkins'), ('Sales', 'Connie Reid'), ('Accounting', 'Brenda Davis'), ('Developing', 'Miguel Norris'), ('Accounting', 'Linda Hudson'), ('Developing', 'Deborah George'), ('Developing', 'Nicole Watts'), ('Marketing', 'Billy Lloyd'), ('Sales', 'Charlotte Cox'), ('Marketing', 'Bernice Ramos'), ('Sales', 'Jose Taylor'), ('Sales', 'Katie Warner'), ('Accounting', 'Steven Diaz'), ('Accounting', 'Kimberly Reynolds'), ('Accounting', 'John Watts'), ('Accounting', 'Dale Houston'), ('Developing', 'Arlene Gibson'), ('Marketing', 'Joyce Lawrence'), ('Accounting', 'Rosemary Garcia'), ('Marketing', 'Ralph Morgan'), ('Marketing', 'Sam Davis'), ('Marketing', 'Gail Hill'), ('Accounting', 'Michelle Wright'), ('Accounting', 'Casey Jenkins'), ('Sales', 'Evelyn Martin'), ('Accounting', 'Aaron Ferguson'), ('Marketing', 'Andrew Clark'), ('Marketing', 'John Gonzalez'), ('Developing', 'Wilma Woods'), ('Sales', 'Marie Cooper'), ('Accounting', 'Kay Scott'), ('Sales', 'Gladys Taylor'), ('Accounting', 'Ann Bell'), ('Accounting', 'Craig Wood'), ('Accounting', 'Gloria Higgins'), ('Marketing', 'Mario Reynolds'), ('Marketing', 'Helen Taylor'), ('Marketing', 'Mary King'), ('Accounting', 'Jane Jackson'), ('Marketing', 'Carol Peters'), ('Sales', 'Alicia Mendoza'), ('Accounting', 'Edna Cunningham'), ('Developing', 'Joyce Rivera'), ('Sales', 'Joseph Lee'), ('Sales', 'John White'), ('Marketing', 'Charles Bailey'), ('Sales', 'Chester Fernandez'), ('Sales', 'John Washington')]

data_d = defaultdict(int)
for el in data:
    data_d[el[0]] += 1
print(*map(lambda x: f"{x}: {data_d[x]}",sorted(data_d)),sep="\n")

Accounting: 17
Developing: 7
Marketing: 13
Sales: 13

In [10]:
from collections import defaultdict

staff_broken = [('Developing', 'Miguel Norris'), ('Sales', 'Connie Reid'), ('Sales', 'Joseph Lee'), ('Marketing', 'Carol Peters'), ('Accounting', 'Linda Hudson'), ('Accounting', 'Ann Bell'), ('Marketing', 'Ralph Morgan'), ('Accounting', 'Gloria Higgins'), ('Developing', 'Wilma Woods'), ('Developing', 'Wilma Woods'), ('Marketing', 'Bernice Ramos'), ('Marketing', 'Joyce Lawrence'), ('Accounting', 'Craig Wood'), ('Developing', 'Nicole Watts'), ('Sales', 'Jose Taylor'), ('Accounting', 'Linda Hudson'), ('Accounting', 'Edna Cunningham'), ('Sales', 'Jose Taylor'), ('Marketing', 'Helen Taylor'), ('Accounting', 'Kimberly Reynolds'), ('Marketing', 'Mary King'), ('Sales', 'Joseph Lee'), ('Accounting', 'Gloria Higgins'), ('Marketing', 'Andrew Clark'), ('Accounting', 'John Watts'), ('Accounting', 'Rosemary Garcia'), ('Accounting', 'Steven Diaz'), ('Marketing', 'Mary King'), ('Sales', 'Gladys Taylor'), ('Developing', 'Thomas Porter'), ('Accounting', 'Brenda Davis'), ('Sales', 'Connie Reid'), ('Sales', 'Alicia Mendoza'), ('Marketing', 'Mario Reynolds'), ('Sales', 'John White'), ('Developing', 'Joyce Rivera'), ('Accounting', 'Steven Diaz'), ('Developing', 'Arlene Gibson'), ('Sales', 'Robert Barnes'), ('Sales', 'Charlotte Cox'), ('Accounting', 'Craig Wood'), ('Marketing', 'Carol Peters'), ('Marketing', 'Ralph Morgan'), ('Accounting', 'Kay Scott'), ('Sales', 'Evelyn Martin'), ('Marketing', 'Billy Lloyd'), ('Sales', 'Gladys Taylor'), ('Developing', 'Deborah George'), ('Sales', 'Charlotte Cox'), ('Marketing', 'Sam Davis'), ('Sales', 'John White'), ('Sales', 'Marie Cooper'), ('Marketing', 'John Gonzalez'), ('Sales', 'John Washington'), ('Sales', 'Chester Fernandez'), ('Sales', 'Alicia Mendoza'), ('Sales', 'Katie Warner'), ('Accounting', 'Jane Jackson'), ('Sales', 'Chester Fernandez'), ('Marketing', 'Charles Bailey'), ('Marketing', 'Gail Hill'), ('Accounting', 'Casey Jenkins'), ('Accounting', 'James Wilkins'), ('Accounting', 'Casey Jenkins'), ('Marketing', 'Mario Reynolds'), ('Accounting', 'Aaron Ferguson'), ('Accounting', 'Kimberly Reynolds'), ('Sales', 'Robert Barnes'), ('Accounting', 'Aaron Ferguson'), ('Accounting', 'Jane Jackson'), ('Developing', 'Deborah George'), ('Accounting', 'Michelle Wright'), ('Accounting', 'Dale Houston')]

data_d = defaultdict(list)

for el in staff_broken:
    if el[1] not in data_d[el[0]]:
        data_d[el[0]].append(el[1])
for ot in sorted(data_d):
    print(ot,end=": ")
    print(*sorted(data_d[ot]),sep=", ")

Accounting: Aaron Ferguson, Ann Bell, Brenda Davis, Casey Jenkins, Craig Wood, Dale Houston, Edna Cunningham, Gloria Higgins, James Wilkins, Jane Jackson, John Watts, Kay Scott, Kimberly Reynolds, Linda Hudson, Michelle Wright, Rosemary Garcia, Steven Diaz
Developing: Arlene Gibson, Deborah George, Joyce Rivera, Miguel Norris, Nicole Watts, Thomas Porter, Wilma Woods
Marketing: Andrew Clark, Bernice Ramos, Billy Lloyd, Carol Peters, Charles Bailey, Gail Hill, Helen Taylor, John Gonzalez, Joyce Lawrence, Mario Reynolds, Mary King, Ralph Morgan, Sam Davis
Sales: Alicia Mendoza, Charlotte Cox, Chester Fernandez, Connie Reid, Evelyn Martin, Gladys Taylor, John Washington, John White, Jose Taylor, Joseph Lee, Katie Warner, Marie Cooper, Robert Barnes