ORDER BY

Когда мы говорили о последовательности столбцов в выводе, вы, вероятно, задались вопросом: «А в каком порядке выводятся строки?»

Порядок вывода строк может задаваться в настройках базы данных для каждой таблицы. Более того, этот порядок может быть не задан, и тогда от вывода к выводу он будет разным.

Чтобы задать порядок вывода строк в запросе, применим новое ключевое слово ORDER BY.

⛏
ПОПРОБУЙТЕ В METABASE!

Для примера отсортируем фильмы по их названию в алфавитном порядке.

SELECT *
FROM sql.kinopoisk
ORDER BY movie_title
Задание 3.1 (External resource)
(1.0 points possible)

Как видите, сортировка по возрастанию проводится по умолчанию.

Наш запрос с сортировкой по названию аналогичен такому:

SELECT *
FROM sql.kinopoisk
ORDER BY rating ASC
Здесь ASC — явное указание порядка сортировки по возрастанию (англ. ascending).

Для обратного порядка используется ключевое слово DESC (англ. descending).

Разумеется, мы можем комбинировать в нашем запросе фильтрацию строк и сортировку вывода, а также выводить только необходимые столбцы.

Выведем названия, имена режиссёров и сценаристов, а также год выхода в прокат фильмов, выпущенных в СССР, и отсортируем результат по убыванию рейтинга.

In [ ]:
"""
SELECT
    movie_title,
    director,
    screenwriter,
    year
FROM sql.kinopoisk
WHERE country = 'СССР'
ORDER BY rating DESC
"""

## NULLS FIRST / NULLS LAST

Также в ORDER BY можно указывать, где должны идти пустые значения — в начале или в конце.

Такая настройка порядка вывода задаётся с помощью ключевых слов NULLS FIRST / NULLS LAST.

In [ ]:
"""
SELECT  /*выбор*/
    movie_title,  /*столбец movie_table*/
    rating,  /*столбец rating*/
    overview,  /*столбец overview*/
    year /*столбец year*/
FROM sql.kinopoisk  /*из таблицы sql.kinopoisk*/
ORDER BY overview /*сортировка по столбцу overview*/
"""

### DESC
Напишите запрос, чтобы вывести названия всех фильмов (столбец Название фильма), у которых рейтинг выше 8.3 и страна производства — Франция. Отсортируйте по рейтингу в порядке убывания, далее — по году выхода в прокат (также в порядке убывания).

In [ ]:
"""
SELECT
    movie_title
FROM sql.kinopoisk
where rating > 8.3
    and country = 'Франция'
ORDER BY rating DESC,year DESC
"""

Для упрощения работы с ORDER BY можно использовать не названия столбцов, а их номера из вывода.

⛏
ПОПРОБУЙТЕ В METABASE!


Сортировку по номеру столбца стоит использовать с осторожностью, поскольку при изменении вывода в SELECT всё может сбиться.

При добавлении новых столбцов в SELECT нужно проверить и при необходимости поправить номера столбцов в ORDER BY.

In [ ]:
""""
SELECT
    director,
    movie_title,
    year
FROM sql.kinopoisk
ORDER BY 1, 3 DESC
"""

### LIMIT

По умолчанию при любом запросе вы получаете в выводе все строки, попадающие под условия запроса.

Чаще всего именно этого вы и ожидаете, но иногда, например, вам нужно просто взглянуть на содержание таблицы, при этом чем она она больше, тем дольше будет работать запрос.

Ограничим вывод первыми десятью строками и сможем легко понять, какие данные хранятся в таблице, не утяжеляя результат.

In [ ]:
'''
SELECT *
FROM sql.kinopoisk
LIMIT 10
'''

### OFFSET

Если LIMIT «оставляет» указанное число первых строк из вывода, то OFFSET, наоборот, «обрезает» указанное число первых строк.

LIMIT и OFFSET можно использовать вместе, их порядок не важен.

Выведем название и рейтинг фильмов с четвёртого по восьмое место.

In [ ]:
"""
SELECT
    movie_title,
    rating 
FROM sql.kinopoisk
ORDER BY rating DESC
OFFSET 3 LIMIT 5
"""

Напишите запрос, чтобы вывести названия фильмов, 

которые вышли в прокат после 1990 года и были сняты не в России. 

Из этого списка оставьте только те фильмы, которые занимают с 20 по 47 места в рейтинге. 

Отсортируйте результат по убыванию рейтинга фильмов.

In [ ]:
"""
SELECT
    movie_title
FROM sql.kinopoisk
where year > 1990
    and country != 'Россия'
ORDER BY rating desc
limit 28 offset 19
"""

In [ ]:
"""
SELECT
    столбец1 AS новое_название,
    столбец2,
    столбец3
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2
"""