- **id** - id команды
- **api_id** - ключ на таблицу matches
- **long_name**	-    полное название команды
- **short_name** -	сокращённое название команды
 
 ### math

- **id** -	id матча
- **season**-	сезон
- **date** -	дата матча
- **home_team_api_id** -	api_id домашней команды, ключ на таблицу teams
- **away_team_api_id**	-api_id гостевой команды, ключ на таблицу teams
- **home_team_goals** -	количество голов домашней команды
- **away_team_goals** -	количество голов гостевой команды

In [1]:
#/*Напишите запрос, который выведет сезон (season), 
#а также общее количество забитых мячей домашними (total_home_goals) 
#и гостевыми (total_away_goals) командами.
#Отсортируйте по столбцу с сезоном в порядке возрастания.*/
"""
select
    season,
    sum(home_team_goals) as total_home_goals,
    sum(away_team_goals) as total_away_goals
from sql.matches
group by season
"""

'\nselect\n    season,\n    sum(home_team_goals) as total_home_goals,\n    sum(away_team_goals) as total_away_goals\nfrom sql.matches\ngroup by season\n'

In [2]:
#/*Напишите запрос, который выведет таблицу с результатами матчей для гостевых команд, содержащую:

#названия гостевых команд (long_name),
#количество забитых мячей домашней команды (home_team_goals),
#количество забитых мячей гостевой команды (away_team_goals).*/
"""
SELECT 
    long_name, 
    home_team_goals,
    away_team_goals
FROM
    sql.teams,
    sql.matches
WHERE away_team_api_id  = api_id
"""

'\nSELECT \n    long_name, \n    home_team_goals,\n    away_team_goals\nFROM\n    sql.teams,\n    sql.matches\nWHERE away_team_api_id  = api_id\n'

#### Join

СИНТАКСИС

Оператор JOIN упрощает процесс соединения таблиц.

Его синтаксис можно представить следующим образом:

In [3]:
"""
SELECT
        столбец1,
	столбец2,
	...
FROM
	таблица1
JOIN таблица2 ON условие
"""

'\nSELECT\n        столбец1,\n\tстолбец2,\n\t...\nFROM\n\tтаблица1\nJOIN таблица2 ON условие\n'

Порядок присоединения таблиц в данном случае не важен — результат будет одинаковым.

С помощью JOIN можно соединить и более двух таблиц.

In [4]:
"""
SELECT
        столбец1,
	столбец2,
	...
FROM
	таблица1
JOIN таблица2 ON условие
JOIN таблица3 ON условие
"""

'\nSELECT\n        столбец1,\n\tстолбец2,\n\t...\nFROM\n\tтаблица1\nJOIN таблица2 ON условие\nJOIN таблица3 ON условие\n'

In [5]:
"""
SELECT
    teams.id /*столбец id таблицы teams*/
FROM 
    sql.teams /*таблица teams*/
JOIN sql.matches ON home_team_api_id = api_id 
"""
#/*оператор соединения таблиц; таблица matches; условие: home_team_api_id таблицы matches равен api_id таблицы teams*/
#Можно также выбрать и столбец из таблицы matches.

#апросДетализация
"""
SELECT
    matches.id
FROM 
    sql.teams
JOIN sql.matches on home_team_api_id = api_id"""

'\nSELECT\n    matches.id\nFROM \n    sql.teams\nJOIN sql.matches on home_team_api_id = api_id'

In [6]:
#/*Напишите запрос, который выведет два столбца: id матча (match_id) и id домашней команды (team_id). 
#Отсортируйте по id матча в порядке возрастания значений.*/
"""
SELECT 
    m.id as match_id,
    t.id as team_id
FROM
    sql.matches m 
    join sql.teams t  on m.home_team_api_id  = t.api_id
"""

'\nSELECT \n    m.id as match_id,\n    t.id as team_id\nFROM\n    sql.matches m \n    join sql.teams t  on m.home_team_api_id  = t.api_id\n'

In [7]:
#Давайте с помощью запроса SQL получим таблицу, содержащую:

#название домашней команды;
#количество забитых домашней командой голов;
#количество забитых гостевой командой голов;
#название гостевой команды.
#ЗапросДетализация
"""
SELECT
    h.long_name "домашняя команда",
    m.home_team_goals "голы домашней команды",
    m.away_team_goals "голы гостевой команды",
    a.long_name "гостевая команда" 
FROM
    sql.matches m
    JOIN sql.teams h ON m.home_team_api_id = h.api_id
    JOIN sql.teams a ON m.away_team_api_id = a.api_id
"""

'\nSELECT\n    h.long_name "домашняя команда",\n    m.home_team_goals "голы домашней команды",\n    m.away_team_goals "голы гостевой команды",\n    a.long_name "гостевая команда" \nFROM\n    sql.matches m\n    JOIN sql.teams h ON m.home_team_api_id = h.api_id\n    JOIN sql.teams a ON m.away_team_api_id = a.api_id\n'

In [8]:
#/*id матча,
#короткое название домашней команды (home_short),
#короткое название гостевой команды (away_short).
#Отсортируйте запрос по возрастанию id матча..*/
"""
SELECT 
    m.id ,
    h.short_name as home_short,
    a.short_name as away_short
FROM
    sql.matches m 
    join sql.teams h  on m.home_team_api_id  = h.api_id
    join sql.teams a  on m.away_team_api_id  = a.api_id
order by m.id
"""

'\nSELECT \n    m.id ,\n    h.short_name as home_short,\n    a.short_name as away_short\nFROM\n    sql.matches m \n    join sql.teams h  on m.home_team_api_id  = h.api_id\n    join sql.teams a  on m.away_team_api_id  = a.api_id\norder by m.id\n'