In [7]:
class PiggyBank:
    def __init__(
        self,
        balance: int =0,
        volume: int = 400
) -> None:
        self.balance = balance
        self.volume = volume
    
    def add_coins(self, coins=1): 
        if self.balance + coins > self.volume:
            print("Копилка слишком мала")
        else:
            self.balance += coins
    
    def remove_coins(self, coins=1):
        if self.balance - coins < 0:
            print('В копилке недостаточно монет')
        else:
            self.balance -= coins

In [8]:
piggybank = PiggyBank()

print(piggybank.balance)                              # по умолчанию баланс равен нулю 

piggybank.add_coins(4)                                # добавляем 4 монеты
piggybank.add_coins(3)                                # добавляем 3 монеты

print(piggybank.balance)

piggybank.remove_coins(2)                             # вынимаем 2 монеты
piggybank.remove_coins(1)                             # вынимаем 1 монету
piggybank.remove_coins(1)                             # вынимаем 1 монету

print(piggybank.balance)

0
7
3

In [ ]:
class Bee:
    def __init__(self, x, y) -> None:
        self.x = x
        self.y = y
    def move_up(self, n):
        self.y += n
    def move_down(self, n): 
        self.y -= n
    def move_right(self, n):
        self.x += n
    def move_left(self, n):
        self.x -= n

In [10]:
"""Реализуйте класс Scales, описывающий весы с двумя чашами. При создании экземпляра класс не должен принимать никаких аргументов.

Класс Scales должен иметь три метода экземпляра:

add_right() — метод, принимающий в качестве аргумента массу груза в килограммах и добавляющий на правую чашу весов этот груз
add_left() — метод, принимающий в качестве аргумента массу груза в килограммах и добавляющий на левую чашу весов этот груз
get_result() — метод, возвращающий строку Весы в равновесии, если массы грузов на чашах совпадают, 
Правая чаша тяжелее — если правая чаша тяжелее, Левая чаша тяжелее — если левая чаша тяжелее"""
        
class Scales:
    def __init__(self) -> None:
        self.right = 0
        self.left = 0
        
    def add_right(self, mass):
        self.right += mass
    
    def add_left(self, mass):
        self.left += mass
    
    def get_result(self):
        if self.left > self.right:
            return "Левая чаша тяжелее" 
        elif self.left < self.right:
            return "Правая чаша тяжелее" 
        else:
            return "Весы в равновесии"

In [12]:
scales = Scales()

scales.add_right(1)
scales.add_left(2)

print(scales.get_result())

Левая чаша тяжелее

In [16]:
"""Класс Numbers
Реализуйте класс Numbers, описывающий изначально пустой расширяемый набор целых чисел. При создании экземпляра класс не должен принимать никаких аргументов.

Класс Numbers должен иметь три метода экземпляра:

add_number() — метод, принимающий в качестве аргумента целое число и добавляющий его в набор
get_even() — метод, возвращающий список всех четных чисел из набора
get_odd() — метод, возвращающий список всех нечетных чисел из набора
Примечание 1. Числа в списках, возвращаемых методами get_even() и get_odd(), должны располагаться в том порядке, в котором они были добавлены в набор."""

class Numbers:
    def __init__(self) -> None:
        self.numb = []
    
    def add_number(self,new):
        self.numb.append(new)
    
    def get_even(self):
        return list(filter(lambda x: x % 2 == 0, self.numb))
    
    def get_odd(self):
        return list(filter(lambda x: x % 2 == 1, self.numb))
    

numbers = Numbers()

numbers.add_number(3)
numbers.add_number(2)
numbers.add_number(1)
numbers.add_number(4)

print(numbers.get_even())
print(numbers.get_odd())

[2, 4]
[3, 1]

In [20]:
"""Класс TextHandler
Будем называть словом любую последовательность из одной или более букв. Текстом будем считать набор слов, разделенных пробельными символами.

Реализуйте класс TextHandler, описывающий изначально пустой расширяемый набор слов. При создании экземпляра класс не должен принимать никаких аргументов.

Экземпляр класса TextHandler должен иметь три метода:

add_words() — метод, принимающий в качестве аргумента текст и добавляющий слова из данного текста в набор
get_shortest_words() — метод, возвращающий актуальный список самых коротких слов в наборе
get_longest_words() — метод, возвращающий актуальный список самых длинных слов в наборе
Примечание 1. Слова в списках, возвращаемых методами get_shortest_words() и get_longest_words(), должны располагаться в том порядке, в котором они были добавлены в набор."""


class TextHandler:
    def __init__(self) -> None:
        self.numb = {}
    
    def add_words(self,text:str):
        [self.numb.setdefault(len(el),[]).append(el) for el in text.split()]
    
    def get_shortest_words(self):
        if self.numb:
            return self.numb[min(self.numb)]
        return []
    def get_longest_words(self):
        if self.numb:
            return self.numb[max(self.numb)]
        return []


texthandler = TextHandler()

texthandler.add_words('The world will hold my trial for your sins')
texthandler.add_words('Never meant to see the sky never meant to live')

print(texthandler.get_shortest_words())
print(texthandler.get_longest_words())

['my', 'to', 'to']
['world', 'trial', 'Never', 'meant', 'never', 'meant']

In [ ]:
"""Класс Todo
Реализуйте класс Todo, описывающий список дел. При создании экземпляра класс не должен принимать никаких аргументов.

Экземпляр класса Todo должен иметь один атрибут:

things — изначально пустой список дел, которые нужно выполнить
Класс Todo должен иметь четыре метода экземпляра:

add() — метод, принимающий название дела и его приоритет (целое число) и добавляющий данное дело в список дел в виде кортежа:
(<название дела>, <приоритет>)
get_by_priority() — метод, принимающий в качестве аргумента целое число n и возвращающий список названий дел, имеющих приоритет n
get_low_priority() — метод, возвращающий список названий дел, имеющих самый низкий приоритет 
get_high_priority() — метод, возвращающий список названий дел, имеющих самый высокий приоритет 
Примечание 1. Названия дел в списках, возвращаемых методами get_by_priority(), get_low_priority() и get_high_priority(), 
должны располагаться в том порядке, в котором они были добавлены в список."""


class Todo:
    def __init__(self) -> None:
        self.things = []
        
    def add(self):
        pass
    
    def get_by_priority(self):
        pass
    
    def get_low_priority(self):
        pass

In [8]:
from datetime import date, timedelta
d = date(2022, 3, 8)
d += timedelta(1)
d

datetime.date(2022, 3, 9)

In [1]:
class Myclass():
    def __new__(cls, *args, **kwargs):
        instance = object.__new__(cls)
        return instance
    
obj = Myclass()
print(obj)
print(type(obj))

<__main__.Myclass object at 0x0000026A0FCFE2D0>
<class '__main__.Myclass'>

In [5]:
class MyClass2():
    def __new__(cls, *args, **kwargs):
        isinstance = object.__new__(cls)
        print("obj create")
        return isinstance
    
    def __init__(self, name):
        print("obk initalization")
        self.name = name
        
obj = MyClass2("Sonya")

print(obj.name)
print(obj)
print(type(obj))

obj create
obk initalization
Sonya
Sonya
<class '__main__.MyClass2'>

In [4]:
class Katclass():
    def __new__(cls):
        isinstance = object.__new__(cls)
        return isinstance
    
    def __init__(self, name) -> None:
        self.name = name
        
        
kat = Katclass.__new__(Katclass)
print(kat)
print(type(kat))
kat.__init__("sona")
print(kat)
print(type(kat))

<__main__.Katclass object at 0x0000025287D55460>
<class '__main__.Katclass'>
<__main__.Katclass object at 0x0000025287D55460>
<class '__main__.Katclass'>

In [2]:
import pandas as pd

data = [
    {"data": 11, "work": "opalubka", "men": 1, "pod": False},
    {"data": 12, "work": "opalubka", "men": 1, "pod": False},
    {"data": 15, "work": "opalubka", "men": 1, "pod": False},
    {"data": 19, "work": "opalubka", "men": 1, "pod": False},
    {"data": 16, "work": "zalivka", "men": 1, "pod": False},
    {"data": 20, "work": "zalivka", "men": 1, "pod": False},
    {"data": 21, "work": "shtukaturka", "men": 1, "pod": False},
    {"data": 22, "work": "shtukaturka", "men": 1, "pod": False},
    {"data": 24, "work": "paraped", "men": 1, "pod": False},
    {"data": 25, "work": "paraped", "men": 1, "pod": False},
    {"data": 26, "work": "paraped", "men": 1, "pod": False},#
    {"data": 28, "work": "paraped", "men": 2, "pod": False},
    {"data": 29, "work": "paraped", "men": 2, "pod": 3000},
    {"data": 30, "work": "paraped", "men": 2, "pod": 3000},
    {"data": 31, "work": "paraped", "men": 2, "pod": 1500},
    {"data": 1, "work": "paraped", "men": 2, "pod": 1500},
    {"data": 2, "work": "paraped", "men": 2, "pod": 3000},
    {"data": 3, "work": "paraped", "men": 2, "pod": 3000},#
    {"data": 5, "work": "gips", "men": 2, "pod": 3000},
    {"data": 6, "work": "gips", "men": 2, "pod": False},
    {"data": 7, "work": "gips", "men": 2, "pod": 3000},
    {"data": 8, "work": "gips", "men": 2, "pod": 3000},
    {"data": 10, "work": "gips", "men": 2, "pod": 3000},
    {"data": 11, "work": "gips", "men": 2, "pod": False},
    {"data": 12, "work": "gips", "men": 2, "pod": False},
    {"data": 13, "work": "gips", "men": 2, "pod": False},
    {"data": 14, "work": "gips", "men": 2, "pod": False},
    {"data": 16, "work": "gips", "men": 2, "pod": 3000},
    {"data": 17, "work": "gips", "men": 2, "pod": 3000},
    {"data": 18, "work": "gips", "men": 1, "pod": False},
]

dataframe = pd.DataFrame(data=data)
display(dataframe)

    data         work  men    pod
0     11     opalubka    1  False
1     12     opalubka    1  False
2     15     opalubka    1  False
3     19     opalubka    1  False
4     16      zalivka    1  False
5     20      zalivka    1  False
6     21  shtukaturka    1  False
7     22  shtukaturka    1  False
8     24      paraped    1  False
9     25      paraped    1  False
10    26      paraped    1  False
11    28      paraped    2  False
12    29      paraped    2   3000
13    30      paraped    2   3000
14    31      paraped    2   1500
15     1      paraped    2   1500
16     2      paraped    2   3000
17     3      paraped    2   3000
18     5         gips    2   3000
19     6         gips    2  False
20     7         gips    2   3000
21     8         gips    2   3000
22    10         gips    2   3000
23    11         gips    2  False
24    12         gips    2  False
25    13         gips    2  False
26    14         gips    2  False
27    16         gips    2   3000
28    17         gips    2   3000
29    18         gips    1  False

In [ ]:
3000
1500
2500
300
500

In [4]:
sum(dataframe["men"])
sum(dataframe["pod"])

33000

In [1]:
4**6

4096

In [ ]:
class Config():
    _instance = None
    def __new__(cls,*args, **kwargs):
        if cls._instance is None:                       # при первом вызове создаем объект
            cls._instance = object.__new__(cls)
        return cls._instance  
    
    def __init__(self) -> None:
        self.program_name =  "GenerationPy"
        self.environment =  "release"
        self.loglevel =  "verbose"   
        self.version =  "1.0.0"