In [1]:
import pandas as pd
import numpy as np

import plotly
import plotly.express as px

In [2]:
calls_list = [
    [460, '2013-12-17 04:55:39', '2013-12-17 04:55:44', '2013-12-17 04:55:45'],
    [12, '2013-12-16 20:03:20', '2013-12-16 20:03:22', '2013-12-16 20:07:13'],
    [56, '2013-12-16 20:03:20', '2013-12-16 20:03:20', '2013-12-16 20:05:04'],
    [980, '2013-12-16 20:03:20','2013-12-16 20:03:27', '2013-12-16 20:03:29'],
    [396, '2013-12-16 20:08:27', '2013-12-16 20:08:28','2013-12-16 20:12:03'],
    [449, '2013-12-16 20:03:20', '2013-12-16 20:03:25','2013-12-16 20:05:00'],
    [397, '2013-12-16 20:08:25', '2013-12-16 20:08:27', '2013-12-16 20:09:59'],
    [398, '2013-12-16 20:01:23', '2013-12-16 20:01:23', '2013-12-16 20:04:58'],
    [452, '2013-12-16 20:03:20', '2013-12-16 20:03:21','2013-12-16 20:04:55'],
    [440, '2013-12-16 20:03:20', '2013-12-16 20:04:26', '2013-12-16 20:04:32']
]

calls = pd.DataFrame(calls_list, columns = ['client_id',  'agent_date', 'created_at' ,'end_date'])

# преобразовываем признаки в формат datetime для удобной работы
calls['agent_date'] = pd.to_datetime(calls['agent_date'])
calls['created_at'] = pd.to_datetime(calls['created_at'])
calls['end_date'] = pd.to_datetime(calls['end_date'])
calls["duration"] = calls['end_date']-calls['created_at']

calls

,client_id,agent_date,created_at,end_date,duration
0,460,2013-12-17 04:55:39,2013-12-17 04:55:44,2013-12-17 04:55:45,0 days 00:00:01
1,12,2013-12-16 20:03:20,2013-12-16 20:03:22,2013-12-16 20:07:13,0 days 00:03:51
2,56,2013-12-16 20:03:20,2013-12-16 20:03:20,2013-12-16 20:05:04,0 days 00:01:44
3,980,2013-12-16 20:03:20,2013-12-16 20:03:27,2013-12-16 20:03:29,0 days 00:00:02
4,396,2013-12-16 20:08:27,2013-12-16 20:08:28,2013-12-16 20:12:03,0 days 00:03:35
5,449,2013-12-16 20:03:20,2013-12-16 20:03:25,2013-12-16 20:05:00,0 days 00:01:35
6,397,2013-12-16 20:08:25,2013-12-16 20:08:27,2013-12-16 20:09:59,0 days 00:01:32
7,398,2013-12-16 20:01:23,2013-12-16 20:01:23,2013-12-16 20:04:58,0 days 00:03:35
8,452,2013-12-16 20:03:20,2013-12-16 20:03:21,2013-12-16 20:04:55,0 days 00:01:34
9,440,2013-12-16 20:03:20,2013-12-16 20:04:26,2013-12-16 20:04:32,0 days 00:00:06

По аналогии с датой и временем можно использовать информацию в столбцах, например, широту и долготу.

Давайте найдём конкретный адрес нулевого объекта, используя широту и долготу. Для этого нам понадобится библиотека geopy.

In [3]:
data = pd.read_excel("data/data_ford_price.xlsx")

In [4]:
from geopy.geocoders import Nominatim

Создаём объект Nominatim и инициализируем API Nominatim с помощью параметра geoapiExercises.

In [5]:
geolocator = Nominatim(user_agent="geoapiExercises")

Объединим широту и долготу для поиска адреса нулевого объекта:

In [6]:
Latitude = str(data['lat'][5])
Longitude =  str(data['long'][5])
location = geolocator.reverse(Latitude+","+Longitude)
print(location)

E&J Motors, Southeast Washington Street, Montavilla, Portland, Multnomah County, Oregon, 98215, United States

In [7]:
address = location.raw['address']
address

{'shop': 'E&J Motors',
 'road': 'Southeast Washington Street',
 'suburb': 'Montavilla',
 'city': 'Portland',
 'county': 'Multnomah County',
 'state': 'Oregon',
 'ISO3166-2-lvl4': 'US-OR',
 'postcode': '98215',
 'country': 'United States',
 'country_code': 'us'}

In [10]:
from shapely.geometry import Point
import geopandas as gpd
from geopandas import GeoDataFrame
import matplotlib.pyplot as plt
 
geometry = [Point(xy) for xy in zip(data['long'], data['lat'])]
gdf = GeoDataFrame(data, geometry=geometry)  
 
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
gdf.plot(ax=world.plot(figsize=(15, 15)), marker='o', color='green', markersize=15)
 
plt.title('Расположение автомобилей на карте мира')
plt.show()

ModuleNotFoundError: No module named 'shapely'